#password-panel-container {
    background-color: rgb(28, 28, 28);
    height: 35%;
    width: 90%;
    display: grid;
    place-items: center;
    position: relative;
}
#password-panel {
    background-color: rgb(13, 13, 56);
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border-radius: 10px;
}

.password-btn-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 15px;
}
.password-btn-row.inverted {
    transform: scale(-1);
}
.password-btn {
    border: transparent 20px solid;
    border-bottom: 20px solid black;
}