#wires ul {
    list-style-type: none;
    width: 15%;
    background: rgb(115, 110, 129);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 20px;
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.441);
}
#wires-right-column {
    right: 20px !important;
    left: auto !important;
    top: 60px !important;
}
.wires-contact {
    border: gray solid 2px;
    width: 20px;
    height: 20px;
    background-color: #3d3d3d;
    box-shadow: 0 0 5px black;
    position: relative;
    display: grid;
    place-items: center;
}

#wires-middle-column {
    top: 40px;
    bottom: 20px;
    position: absolute;
    width: 10px;
    display: flex;
    flex-direction: column;
}
.wires-wire {
    --wire-color: red;
    height: 10px;
    flex: 1;
    display: grid;
    place-items: center;
}
.wires-wire::after {
    content: '';
    position: absolute;
    height: 5px;
    width: calc(min(65vh, 65vw) / 1.66);
    background-color: var(--wire-color);
}

.wires-wire:nth-child(1):after {
    transform: rotate(7deg);
}
.wires-wire:nth-child(2):after {
    transform: rotate(5.6deg);
}
.wires-wire:nth-child(3):after {
    transform: rotate(4.2deg);
}
.wires-wire:nth-child(4):after {
    transform: rotate(2.8deg);
}
.wires-wire:nth-child(5):after {
    transform: rotate(1.4deg);
}

.wires-contact select {
    position: absolute;
    appearance: none;
    background-color: rgba(153, 153, 153, 0.8);
    font-size: 100%;
    height: 2em;
    width: 3em;
    text-align: center;
    border: white 3px solid;
    border-radius: .33em;
    left: -4.5em;
}
.wires-contact select:focus {
    outline: none;
}
.wires-contact select.locked {
    opacity: 0.7;
    pointer-events: none;
}
.wires-contact select::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    background: white;
    display: block;
}